PORT=5000
NODE_ENV=development
MONGO_URI=mongodb+srv://<username>:<password>@cluster0.xxxxx.mongodb.net/kittys-diary?retryWrites=true&w=majority
JWT_SECRET=kitty_super_secret_jwt_key_change_this_in_production_2024
JWT_EXPIRES_IN=30d
CLIENT_URL=http://localhost:5173
